<%- include("partials/header");  %>

<!-- Write your code here -->

<h1>Compose</h1>

<form action="/compose" method="post">  
    <label class="form-label">Title</label>
    <input type="text"class="form-control" aria-describedby="emailHelp" name="postTitle">
    <label class="mt-5 form-label">Post</label>
    <textarea name="postData" class="form-control" rows="6  " cols="30"></textarea>      
    <button type="submit" class="mt-4 btn btn-primary">Submit</button>
</form>

<%- include('partials/footer'); -%>
