/*   */
  p{
      text-align: left;
  }
 
  h1 {
    color: #fff;
    padding-left:0;
  }
 
  .nav-link{
      font-family: 'Courier New', Courier, monospace;
  }
form{
  margin-left: 5px;

}
.footer {
    
    color: rgba(255, 251, 251, 0.5);
    text-align: center;
    padding: 10px;
  }
  .navbar-brand{
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    
  }

hr{
    border: 10px solid green;
    border-radius: 5px;
  }
